* {
  box-sizing: border-box;
}

html {
  --primary-color: #55b5e0;
  --primary-dark-color: #198eb7;
  --secondary-color: #fce381;
  --secondary-dark-color: #e29f33;
  --tertiary-color: #f44e4d;
  --tertiary-dark-color: #db3c3a;
  --code-header-color: #a8a8a8;
  --code-background-color: #f8f8f8;
  --grey: #eee;
  --dark-grey: #444;
  --app-section-even-color: #fff;
  --app-section-odd-color: var(--grey);
  --border-radius: 5px;
  --content-width: 600px;
  --text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-size: 18px;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--dark-grey);
}

h1 {
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
}

h3 {
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--tertiary-color);
  text-shadow: var(--text-shadow);
}

h4 {
  /* Careful. This is meant to be used as code block headers */
  color: var(--code-header-color);
  margin-bottom: 0;
  background-color: var(--code-background-color);
  padding: 0.5em;
  border-bottom: 1px solid var(--code-header-color);
  font-weight: 300;
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  color: var(--tertiary-color);
  text-shadow: var(--text-shadow);
}

h6 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--primary-dark-color);
  font-style: italic;
  text-shadow: var(--text-shadow);
}

p {
  font-size: 1rem;
}

main p {
  text-align: justify;
}

section {
  padding: 1rem;
  background: var(--app-section-even-color);
}

section:nth-of-type(even) {
  background: var(--app-section-odd-color);
}

section > *, footer > *, header > *, nav > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

p code, ul code, li code {
  padding: 3px;
  color: #333;
  background-color: var(--code-background-color);
  border-radius: 5px;
}

pre {
  margin-top: 0;
}

header {
  padding: 1rem;
  border-top: 3px solid var(--primary-color);
  background-color: var(--secondary-color);
}

footer {
  padding: 1rem;
  background: var(--secondary-color);
}

nav {
  background: var(--secondary-color);
}

nav > div {
  display: flex;
  width: 100%;
}

nav a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--tertiary-color);
}

nav a:hover {
  color: var(--primary-color);
  border-bottom: 3px dashed var(--primary-color);
}

nav a.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

img {
  max-width: 100%;
}

ul.breadcrumb {
  padding: 0;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

.game-icon-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.game-icon-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

.attribution > * {
  color: rgba(255, 255, 255, 0.2);
  transition: all 300ms;
}

.attribution > a:hover {
  color: var(--secondary-color);
}

.instructions {
  color: rgba(255, 255, 255, 0.2);
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
